homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  homepage img {
    max-width: 100%;
    height: auto;
  }

  .price {
    color: #EE9972;
  }

  .homepage-wrapper {
    display: flex;
    flex-direction: column;
  }

  .homepage-wrapper main {
    margin: 15rem 0;
    width: 100%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
    justify-items: center;
  }
