.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */

button,
.MuiButton-root {
  background-color: #495E57 !important;
  color: white !important;
  border-radius: 16px !important;
  transition: background-color 0.3s ease;
}

button:hover,
.MuiButton-root:hover {
  background-color: #FACE14 !important;
  color: #000 !important;
}

/* Optional alert style for the confirmation box */
.confirmation-alert {
  background-color: #FACE14;
  color: #000;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  border-radius: 16px;
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply rounded corners and drop shadow to all images */
img {
  border-radius: 16px; /* Apply rounded corners with 16px radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle drop shadow */
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow effect */
}


/* Exclude logo image from drop shadow */
.logo-img {
  box-shadow: none; /* Remove drop shadow for the logo */
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Markazi Text', serif;
    color: #333333;
  }
h2 {
      font-size: 2.5rem;
      font-weight: 700;
      font-family: 'Markazi Text', serif;
      color: #FACE14;
    }

h3 {
        font-size: 1.25rem;
        font-weight: 500;
        font-family: 'Karla', sans-serif;
        color: #333333;
    }

h4 {
          font-size: 1.5rem;
          font-weight: 800;
          font-family: 'Karla', sans-serif;
          color: #333333;
          text-transform: uppercase;
   }

h5 {
        font-size: 1.0rem;
        font-weight: 800;
        font-family: 'Karla', sans-serif;
        color: #333333;
    }

h6 {
        font-size: 1.25rem;
        font-weight: 700;
        font-family: 'Karla', sans-serif;
        color: #333333;
   }

p {
        font-size: 1.0rem;
        font-weight: 500;
        line-height: 1.5;
        max-width: 65ch;
        color: darkgrey;
}

span {
  color: #F4CE14;
  font-weight: 600;
  font-size: 1.25rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 90vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid #999;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height:100%;
  box-sizing: border-box;
}

.card .content {
  flex-grow: 1;
  padding: 0.5rem;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card img:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Darker shadow effect on hover */
}

.card h2 {
  margin: 0;
  padding: 0.5rem;
}

.card h3 {
  margin: 0;
  padding: 0.5rem;
}

.card .content {
  padding: 0.5rem;
}

.card .bottom-bar {
  display: grid;
  grid-template-columns: 66% 33%;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background-color: #333333;
  color: white;
}

.card .bottom-bar img {
  height: 36px;
  width: 100%;
  object-fit: contain;
}

.card header {
  display: grid;
  grid-template-columns: 66% 33%;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  overflow: hidden;
}

.card header h2 {
  margin: 0;
  padding: 0.5rem;
  text-align: left;
}

.card header .price {
  margin: 0;
  padding: 0.5rem;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .cards {
      grid-template-columns: 1fr;
  }

  .card .bottom-bar {
    width: 100%;
  }
}
