.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #495E57; /* now covers full width */
  position: relative;
  overflow: visible;
  padding: 0 6rem;
  min-height: 300px;
  }

  .text-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }

  h1, h2 {
    margin: 0;
  }

  .hero-text h2 {
    color: white;
  }

  .hero-text h3 {
    color: #EDEFEE;
  }

  .hero-text h1 {
    color: #FACE14;
  }
  button {
    margin-top: 0px;
    padding: 15px 10px;
    background-color: #FACE14;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    max-width: 250px;
  }

  button:hover {
    background-color: #EDEFEE;
  }

  .hero-image-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .hero-image {
    width: 100%;
    max-width: 60%;
    margin-top: 4rem;
    margin-bottom: -10rem;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  }

.grid-container .text-container:nth-child(2) {
    background-color: white;
    color:#495E57
}

.grid-container, .hero-image-container {
  overflow: visible;
  position: relative;
}

@media (max-width: 1024px) {
  .hero-image {
    right: -50px;
    width: 110%;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .hero-image {
    max-width: 100%;
    margin-top: 20px;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}