@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;700&family=Karla:wght@400;500;700&display=swap');

:root {
  /* Font Families */
  --font-primary: 'Markazi Text', serif;
  --font-secondary: 'Karla', sans-serif;

  /* Font Sizes */
  --text-display: 3rem;  /* Large display titles */
  --text-title: 2rem;     /* Section titles */
  --text-subtitle: 1.5rem; /* Subtitles */
  --text-lead: 1.25rem;   /* Lead text */
  --text-regular: 1rem;   /* Regular body text */
  --text-small: 0.875rem; /* Small text */

  /* Font Weights */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Line Heights */
  --line-height-tight: 1.1;
  --line-height-normal: 1.5;
  --line-height-loose: 1.75;

  /* Colors */
  --color-primary: #49SE57; /* Dark Gray-Green */
  --color-secondary: #F4CE14;
  --color-text: #333;
  --color-background: #fff;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--text-regular);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
