main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }

  main img {
    max-width: 100%; /* Ensures the logo scales properly */
    height: auto; /* Maintain the aspect ratio */
  }

  .price {
    color: #EE9972;
  }
